
  <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row gap-3">
                    <div class="">
                      <img src="user-02.jpg" alt="user" class="rounded" width="100">
                    </div>
                    <div class="">
                      <h3 class="fw-semibold mb-1">Daniel Kristeen</h3>
                      <h6 class="text-muted fw-normal mb-2">Denstista</h6>
                      <span class="btn btn-secondary">
                        Admin
                      </span>
                    </div>
                  </div>
                  <div class="row mt-4 pt-4">
                    <div class="col text-center border-end">
                      <h3 class="fw-semibold">14</h3>
                      <h6 class="text-muted">Pacientes</h6>
                    </div>
                    <div class="col text-center border-end">
                      <h3 class="fw-semibold">54</h3>
                      <h6 class="text-muted">Consultas</h6>
                    </div>
                    <div class="col text-center">
                      <h3 class="fw-semibold">145</h3>
                      <h6 class="text-muted">Tasks</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card overflow-hidden">
                <div class="card-body bg-purple text-white mailbox-widget">
                  <div class="d-flex align-items-center gap-2 pb-4 mb-2">
                    <h3 class="card-title mb-0 text-white">Your Mailbox</h3>
                    <div class="bg-secondary py-1 px-2 rounded">350 Unread emails</div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <ul class="nav nav-tabs custom-tab border-bottom-0 gap-3" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="inbox-tab" data-bs-toggle="tab" aria-controls="inbox" href="#inbox"
                          role="tab" aria-selected="true">
                          <span class="d-block d-md-none"><iconify-icon icon="solar:letter-linear"
                              class="iconify-md icon-center"></iconify-icon></span>
                          <span class="d-none d-md-block text-capitalize fw-semibold">
                            Caixa</span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="sent-tab" data-bs-toggle="tab" aria-controls="sent" href="#sent" role="tab"
                          aria-selected="false" tabindex="-1">
                          <span class="d-block d-md-none"><iconify-icon icon="solar:plain-2-linear"
                              class="iconify-md icon-center"></iconify-icon></span>
                          <span class="d-none d-md-block text-capitalize fw-semibold">Consultas</span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="spam-tab" data-bs-toggle="tab" aria-controls="spam" href="#spam" role="tab"
                          aria-selected="false" tabindex="-1">
                          <span class="d-block d-md-none"><iconify-icon icon="solar:user-block-linear"
                              class="iconify-md icon-center"></iconify-icon></span>
                          <span class="d-none d-md-block text-capitalize fw-semibold">Pacientes</span>
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="delete-tab" data-bs-toggle="tab" aria-controls="delete" href="#delete" role="tab"
                          aria-selected="false" tabindex="-1">
                          <span class="d-block d-md-none"><iconify-icon icon="solar:trash-bin-trash-linear"
                              class="iconify-md icon-center"></iconify-icon></span>
                          <span class="d-none d-md-block text-capitalize fw-semibold">Medicos</span>
                        </a>
                      </li>
                    </ul>
                  </div>
          
          
                </div>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
                    <div>
                        <div class="card body text-bg-success">
                          <div class="card-body text-white">
                            <div class="d-flex flex-row align-items-center">
                              <div class="round-40 rounded-circle d-flex align-items-center justify-content-center bg-success-subtle text-success">
                                <i class="ti ti-credit-card fs-6"></i>
                              </div>
                              <div class="ms-3">
                                <h4 class="mb-0 text-white fs-6">Total Income</h4>
                                <span class="text-white-50">Income</span>
                              </div>
                              <div class="ms-auto">
                                <h2 class="fs-7 mb-0 text-white">
                                  $2900
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ul class="feeds ps-0">
                          <div class="feed-item mb-2 py-2 pe-3 ps-4">
                            <div class="
                                border-start border-2 border-info
                                d-md-flex
                                align-items-center
                              ">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="
                                    ms-3
                                    btn bg-info-subtle
                                    text-info
                                    btn-circle
                                    fs-5
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                    flex-shrink-0
                                  "><i class="ti ti-bell fs-6"></i></a>
                                <div class="ms-3 text-truncate">
                                  <span class="text-dark font-weight-medium">You have 4 pending tasks.</span>
                                </div>
                              </div>
                              <div class="
                                  justify-content-end
                                  text-truncate
                                  ms-5 ms-md-auto
                                  ps-4 ps-md-0
                                ">
                                <span class="badge bg-info-subtle text-success rounded fw-semibold p-2">$889</span>
                              </div>
                            </div>
                          </div>
                          <div class="feed-item mb-2 py-2 pe-3 ps-4">
                            <div class="
                                border-start border-2 border-success
                                d-md-flex
                                align-items-center
                              ">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="
                                    ms-3
                                    btn bg-success-subtle
                                    text-success
                                    btn-circle
                                    fs-5
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                    flex-shrink-0
                                  "><i class="ti ti-database fs-6"></i></a>
                                <div class="ms-3 text-truncate">
                                  <span class="text-dark font-weight-medium">Server #1 overloaded</span>
                                </div>
                              </div>
                              <div class="
                                  justify-content-end
                                  text-truncate
                                  ms-5 ms-md-auto
                                  ps-4 ps-md-0
                                ">
                                <span class="fs-2 text-muted"> <span class="badge bg-info-subtle text-success rounded fw-semibold p-2">$89</span></span>
                              </div>
                            </div>
                          </div>
                          <div class="feed-item mb-2 py-2 pe-3 ps-4">
                            <div class="
                                border-start border-2 border-warning
                                d-md-flex
                                align-items-center
                              ">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="
                                    ms-3
                                    btn bg-warning-subtle
                                    text-warning
                                    btn-circle
                                    fs-5
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                    flex-shrink-0
                                  "><i class="ti ti-shopping-cart fs-6"></i></a>
                                <div class="ms-3 text-truncate">
                                  <span class="text-dark font-weight-medium">New order received.</span>
                                </div>
                              </div>
                              <div class="
                                  justify-content-end
                                  text-truncate
                                  ms-5 ms-md-auto
                                  ps-4 ps-md-0
                                ">
                                <span class="fs-2 text-muted"> <span class="badge bg-info-subtle text-success rounded fw-semibold p-2">$19</span></span>
                              </div>
                            </div>
                          </div>
                          <div class="feed-item mb-2 py-2 pe-3 ps-4">
                            <div class="
                                border-start border-2 border-danger
                                d-md-flex
                                align-items-center
                              ">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="
                                    ms-3
                                    btn bg-danger-subtle
                                    text-danger
                                    btn-circle
                                    fs-5
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                    flex-shrink-0
                                  "><i class="ti ti-users fs-6"></i></a>
                                <div class="ms-3 text-truncate">
                                  <span class="text-dark font-weight-medium">New user registered.</span>
                                </div>
                              </div>
                              <div class="
                                  justify-content-end
                                  text-truncate
                                  ms-5 ms-md-auto
                                  ps-4 ps-md-0
                                ">
                                <span class="fs-2 text-muted"> <span class="badge bg-info-subtle text-success rounded fw-semibold p-2">$60</span></span>
                              </div>
                            </div>
                          </div>
                          <div class="feed-item mb-2 py-2 pe-3 ps-4">
                            <div class="
                                border-start border-2 border-primary
                                d-md-flex
                                align-items-center
                              ">
                              <div class="d-flex align-items-center">
                                <a href="javascript:void(0)" class="
                                    ms-3
                                    btn bg-primary-subtle
                                    text-primary
                                    btn-circle
                                    fs-5
                                    d-flex
                                    align-items-center
                                    justify-content-center
                                    flex-shrink-0
                                  ">
                                  <i class="ti ti-users fs-6"></i>
                                </a>
                                <div class="ms-3 text-truncate">
                                  <span class="text-dark font-weight-medium">New Version just arrived.</span>
                                </div>
                              </div>
                              <div class="
                                  justify-content-end
                                  text-truncate
                                  ms-5 ms-md-auto
                                  ps-4 ps-md-0
                                ">
                                 <span class="badge bg-info-subtle text-success rounded fw-semibold p-2">$44</span>
                              </div>
                            </div>
                          </div>
                        </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="sent" aria-labelledby="sent-tab" role="tabpanel">
                    <div>
                      <div class="table-responsive mt-3">
                        <table class="
                                      table
                                      email-table
                                      no-wrap
                                      table-hover
                                      v-middle
                                      mb-0
                                      fs-3
                                    ">
                          <tbody>
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-bold" class="fs-6 text-warning icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-4.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Hanna Gover</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-warning-subtle
                                                  text-warning
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Freind</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 14</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-5.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Jack Corner</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-success-subtle
                                                  text-success
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Work</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 14</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-6.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Harry
                                    Callum</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-primary-subtle
                                                  text-primary
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Work</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 18</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-7.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Charlie
                                    Kyle</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-secondary-subtle
                                                  text-secondary
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">important</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 20</td>
                            </tr>
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-2.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Roy
                                    Anderson</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                badge
                                                rounded
                                                bg-primary-subtle
                                                text-primary
                                                p-2
                                                me-2
                                                fw-semibold
                                              ">Work</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 12</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-bold" class="fs-6 text-warning icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-3.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Genelia
                                    Roshan</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                badge
                                                rounded
                                                bg-info-subtle
                                                text-info
                                                p-2
                                                me-2
                                                fw-semibold
                                              ">Business</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 13</td>
                            </tr>
          
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="spam" aria-labelledby="spam-tab" role="tabpanel">
                    <div>
                          <div class="card-body">
                            <h5 class="card-title mb-0">Pacientes Cadastrados</h5>
                          </div>
                          <div class="table-responsive">
                            <table class="table text-nowrap no-wrap user-table mb-0">
                              <thead>
                                <tr>
                                  <th scope="col" class="border-0  ps-4">
                                    #
                                  </th>
                                  <th scope="col" class="border-0 ">
                                   Nome
                                  </th>
                                  <th scope="col" class="border-0 ">
                                   Médico
                                  </th>
                                  <th scope="col" class="border-0 ">
                                    Email
                                  </th>
                                  <th scope="col" class="border-0 ">
                                    Status
                                  </th>
                                  <th scope="col" class="border-0 ">
                                    Manage
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="ps-4">1</td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <img src="user-06.jpg" class="rounded  round-50">
                                      <div class="ms-3">
                                        <h6 class=" mb-0">
                                          Daniel Kristeen
                                        </h6>
                                        <span class="text-muted">Texas, Unitedd states</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span>Visual Designer</span><br>
                                    <span>Past : teacher</span>
                                  </td>
                                  <td>
                                    <span>daniel@website.com</span><br>
                                    <span>999 - 444 - 555</span>
                                  </td>
                                  <td>
                                    <select class="form-select category-select border-0 bg-inverse" id="exampleFormControlSelect1">
                                      <option>Modulator</option>
                                      <option>Admin</option>
                                      <option>User</option>
                                      <option>Subscriber</option>
                                    </select>
                                  </td>
                                  <td>
                                    <a href="javascript:void(0)" class="text-info edit"> <i class="fas fa-edit"></i></iconify-icon>
                                   </a>
                                   <a href="javascript:void(0)" class="text-dark delete ms-2"><i class="fas fa-eye"></i></iconify-icon></a>
                                 </td>  
                                  
                                </tr>
                                <tr>
                                  <td class="ps-4">2</td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <img src="user-02.jpg" class="rounded  round-50">
                                      <div class="ms-3">
                                        <h6 class=" mb-0">
                                          Emma Smith
                                        </h6>
                                        <span class="text-muted">Texas, Unitedd states</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span>Visual Designer</span><br>
                                    <span>Past : teacher</span>
                                  </td>
                                  <td>
                                    <span>daniel@website.com</span><br>
                                    <span>999 - 444 - 555</span>
                                  </td>
                                  <td>
                                    <select class="form-select category-select border-0 bg-inverse" id="exampleFormControlSelect1">
                                      <option>Modulator</option>
                                      <option>Admin</option>
                                      <option>User</option>
                                      <option>Subscriber</option>
                                    </select>
                                  </td>
                                  <td>
                                    <a href="javascript:void(0)" class="text-info edit"> <i class="fas fa-edit"></i></iconify-icon>
                                   </a>
                                   <a href="javascript:void(0)" class="text-dark delete ms-2"><i class="fas fa-eye"></i></iconify-icon></a>
                                 </td>  
                                  
                                </tr>
                                <tr>
                                  <td class="ps-4">3</td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <img src="user-05.jpg" class="rounded  round-50">
                                      <div class="ms-3">
                                        <h6 class=" mb-0">
                                          Olivia Johnson
                                        </h6>
                                        <span class="text-muted">Texas, Unitedd states</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span>Visual Designer</span><br>
                                    <span>Past : teacher</span>
                                  </td>
                                  <td>
                                    <span>daniel@website.com</span><br>
                                    <span>999 - 444 - 555</span>
                                  </td>
                                  <td>
                                    <select class="form-select category-select border-0 bg-inverse" id="exampleFormControlSelect1">
                                      <option>Modulator</option>
                                      <option>Admin</option>
                                      <option>User</option>
                                      <option>Subscriber</option>
                                    </select>
                                  </td>
                                  <td>
                                    <a href="javascript:void(0)" class="text-info edit"> <i class="fas fa-edit"></i></iconify-icon>
                                   </a>
                                   <a href="javascript:void(0)" class="text-dark delete ms-2"><i class="fas fa-eye"></i></iconify-icon></a>
                                 </td>  
                                  
                                </tr>
                                <tr>
                                  <td class="ps-4">4</td>
                                  <td>
                                    <div class="d-flex align-items-center">
                                      <img src="user-09.jpeg" class="rounded  round-50">
                                      <div class="ms-3">
                                        <h6 class=" mb-0">
                                          Isabella Williams
                                        </h6>
                                        <span class="text-muted">Texas, Unitedd states</span>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <span>Visual Designer</span><br>
                                    <span>Past : teacher</span>
                                  </td>
                                  <td>
                                    <span>daniel@website.com</span><br>
                                    <span>999 - 444 - 555</span>
                                  </td>
                                  <td>
                                    <select class="form-select category-select border-0 bg-inverse" id="exampleFormControlSelect1">
                                      <option>Modulator</option>
                                      <option>Admin</option>
                                      <option>User</option>
                                      <option>Subscriber</option>
                                    </select>
                                  </td>
                                  <td>
                                     <a href="javascript:void(0)" class="text-info edit"> <i class="fas fa-edit"></i></iconify-icon>
                                    </a>
                                    <a href="javascript:void(0)" class="text-dark delete ms-2"><i class="fas fa-eye"></i></iconify-icon></a>
                                  </td>                   
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="delete" aria-labelledby="delete-tab" role="tabpanel">
                    <div>
                      <div class="table-responsive mt-3">
                        <table class="
                                      table
                                      email-table
                                      no-wrap
                                      table-hover
                                      v-middle
                                      mb-0
                                      fs-3
                                    ">
                          <tbody>
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-bold" class="fs-6 text-warning icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-4.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Hanna Gover</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-warning-subtle
                                                  text-warning
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Freind</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 14</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-5.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Jack Corner</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-success-subtle
                                                  text-success
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Work</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 14</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-6.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Harry
                                    Callum</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-primary-subtle
                                                  text-primary
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">Work</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 18</td>
                            </tr>
          
                            <!-- row -->
                            <tr>
                              <td>
                                <div class="d-flex gap-3 align-items-center">
                                  <div class="form-check ms-2">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                  </div>
                                  <iconify-icon icon="solar:star-linear" class="fs-6 text-muted icon-center"></iconify-icon>
                                  <img src="../assets/images/profile/user-7.jpg" class="rounded round-40" width="35">
                                  <span class="mb-0 h6 text-nowrap">Charlie
                                    Kyle</span>
                                </div>
                              </td>
                              <!-- Message -->
                              <td>
                                <a class="link" href="javascript: void(0)">
                                  <span class="
                                                  badge
                                                  rounded
                                                  bg-secondary-subtle
                                                  text-secondary
                                                  p-2
                                                  me-2
                                                  fw-semibold
                                                ">important</span>
                                  <span class="text-muted fs-3 text-nowrap">Lorem
                                    ipsum perspiciatis...</span>
                                </a>
                              </td>
                              <!-- Attachment -->
                              <td>
                                <iconify-icon icon="solar:link-minimalistic-bold"
                                  class="fs-6 text-muted icon-center"></iconify-icon>
                              </td>
                              <!-- Time -->
                              <td class="text-muted text-nowrap">May 20</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

